*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Para quitar a las anclas su propiedad por defecto */
a{
    text-decoration: none;
}

.container{
    display: flex; /* Los elementos se pueden organizar fácilmente y ocupan todo el espacio disponible de su eje*/
    flex-direction: column; /* Apila los elementos */
    justify-content: space-evenly;
    align-items: center;
    height: 50vh; /* Al ser un contenedor flex es necesario delimitar la altura */
}

/* Ejemplo de botó con ícono */
.btn0{
    box-shadow: 5px 5px 10px rgb(110, 110, 110);
    background-color:cornflowerblue;
    color: white;
    padding: 10px 8px;  /* Para que el texto se separe del botón | 1re valor: vertical 2do valor: horizontal */
    border: none; /* Quita el borde negro por defecto */
    border-radius: 5px;
    cursor: pointer;  /* Retroalimentación al usuario */
    max-width: 120px; /* Si el ícono queda arriba del texto este es el atributo que se debe de cambiar */
    transition: transform 0.5s ease-in-out; /* Hará que las animaciones aplicadas sean más suaves desde que empiezan hasta que terminan durante 5 segundos*/
}

/* Tipo: Etiqueta directa */
.btn1{
    box-shadow: 5px 5px 10px rgb(110, 110, 110);
    background-color:cornflowerblue;
    color: white;
    padding: 10px 8px;  /* Para que el texto se separe del botón | 1re valor: vertical 2do valor: horizontal */
    border: none; /* Quita el borde negro por defecto */
    border-radius: 5px;
    cursor: pointer;  /* Retroalimentación al usuario */
    max-width: 120px; /* Si el ícono queda arriba del texto este es el atributo que se debe de cambiar */
    transition: transform 0.5s ease-in-out;
}

/* Tipo ancla | Es un poco más grande que la etiqueta botón*/
.btn2{
    box-shadow: 5px 5px 10px rgb(110, 110, 110);
    background-color:rgb(207, 100, 237);
    color: white;
    padding: 9px 20px;  /* Para que el texto se separe del botón | 1re valor: vertical 2do valor: horizontal */
    border: none; /* Quita el borde negro por defecto */
    border-radius: 5px;
    cursor: pointer;  /* Retroalimentación al usuario */
    font-size: 14px;
    max-width: 100px;
    text-align: center;
    transition: transform 0.5s ease-in-out;
}

/* Tipo: Input */
.btn3{
    box-shadow: 5px 5px 10px rgb(110, 110, 110);
    background-color:rgb(45, 196, 191);
    color: white;
    padding: 10px 20px;  /* Para que el texto se separe del botón | 1re valor: vertical 2do valor: horizontal */
    border: none; /* Quita el borde negro por defecto */
    border-radius: 5px;
    cursor: pointer;  /* Retroalimentación al usuario */
    max-width: 100px;
    transition: transform 0.5s ease-in-out; 
}

/* Tipo: Outline-flotante */
.btn4{
    box-shadow: 5px 5px 10px rgb(110, 110, 110);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: fixed;
    bottom: 40px;
    right: 40px;
    color: rgb(124, 93, 0);
    font-size: 16px;
    padding: 10px;  /* Para que el texto se separe del botón */
    border: 2px solid #dbb903; /* Agrega un borde sólido, aquí se agrega el color de fondo*/
    border-radius: 100%; /* Ayudará a hacerlo redondo */
    cursor: pointer;  /* Retroalimentación al usuario */
    width: 64px;
    height: 64px;
    overflow: hidden;
}

/* Ejemplo de botón con ícono a la izquierda | Al agregar ::before el ícono no estará directamente el doc html*/
.btn0::after{
    content: ""; /* Con esto el ícono aparecerá en el botón */
    display: inline-block; /* Para que se muestre en línea y en el bloque */
    background-image: url("./assets/checkmark-location.png");
    background-size: cover;
    width: 15px;
    height: 15px;
    margin-left: 8px;
    margin-bottom: 4px;
    vertical-align: middle;
}

/* Ejemplo de botón con ícono a la derecha | Al agregar ::before el ícono no estará directamente el doc html*/
.btn1::before{
    content: ""; /* Con esto el ícono aparecerá en el botón */
    display: inline-block; /* Para que se muestre en línea y en el bloque */
    background-image: url("./assets/checkmark-location.png");
    background-size: cover;
    width: 15px;
    height: 15px;
    margin-right: 8px;
    margin-bottom: 2px;
    vertical-align: middle;
}

/* Efecto :hover para dar responsividad al usuario */
.btn0:hover{
    background-color: rgb(83, 177, 248);
    transform: translateX(25px);  /* Hará que el botón se desplace adelante */
}

.btn1:hover{
    background-color: rgb(83, 177, 248);
    transform: translateX(-20px); /* Hará que el botón se desplace hacia atrás */
}

.btn2:hover{
    background-color: rgb(150, 43, 226); 
    transform: translateY(-20px); /* Hará que el botón se despalce hacia arriba */
}

.btn3:hover{
    background-color:rgb(0, 255, 140);
    transform: translateY(20px) rotateZ(20deg); /* Hará que el botón se despalce hacia abajo y gire*/
}

.btn4:hover{
    background-color:#f9e051; 
    color: rgb(124, 93, 0);
}


/* Efecto :active para dar retroalimentación al usuario de que ha dado click al botón */
.btn0:active{
    background-color: rgb(46, 110, 159);
    transform: scale(0.9); /* Se vuelve pequeño */
}

.btn1:active{
    background-color: rgb(46, 110, 159);
    transform: scale(0.9); /* Se vuelve pequeño */
}

.btn2:active{
    background-color: rgb(95, 28, 142);
    transform: scale(0.9);
}

.btn3:active{
    background-color: rgb(0, 174, 96);
    transform: scale(0.9); 
}



